 **This is the sample program to randomly decide the order for students**

In [1]:
import numpy as np

**INPUT AREA: You may edit**

In [2]:
#To manually input list, Write below the names in the Student1,etc area.
StudentNames=['Joey','Lychee','Sir Geoffery','Octavian','Augustus']

In [3]:
#ADD your number of students here
StudentCount=30

# **Do Not Edit Below This Line**

**Below is the code for generating random students without Names**

In [4]:
tempProbability=np.repeat(1/StudentCount,StudentCount)

In [5]:
Templist= []

for i in range(0,StudentCount):
   Templist.append('Student' + str(i))

In [6]:
Templist[29]

'Student29'

In [7]:
np.random.choice(Templist, size=StudentCount, replace=False, p=tempProbability)

array(['Student21', 'Student15', 'Student5', 'Student2', 'Student27',
       'Student24', 'Student12', 'Student18', 'Student20', 'Student9',
       'Student14', 'Student10', 'Student26', 'Student19', 'Student23',
       'Student11', 'Student0', 'Student28', 'Student25', 'Student7',
       'Student13', 'Student6', 'Student17', 'Student8', 'Student1',
       'Student3', 'Student29', 'Student16', 'Student22', 'Student4'],
      dtype='<U9')


**Here is the code for manual inputting student names**

In [8]:
tempProbabilityNames=np.repeat(1/len(StudentNames),len(StudentNames))

In [9]:
RandomizedListWithNames=np.random.choice(StudentNames, size=len(StudentNames), replace=False, p=tempProbabilityNames)

# **RESULTS**

In [10]:
#WITH NAMES
print(RandomizedListWithNames)

['Augustus' 'Lychee' 'Joey' 'Sir Geoffery' 'Octavian']

In [11]:
#WITHOUT NAMES
print(np.random.choice(Templist, size=len(Templist), replace=False, p=tempProbability))

['Student8' 'Student6' 'Student13' 'Student5' 'Student14' 'Student1'
 'Student10' 'Student21' 'Student24' 'Student7' 'Student9' 'Student20'
 'Student28' 'Student18' 'Student15' 'Student26' 'Student2' 'Student4'
 'Student25' 'Student29' 'Student17' 'Student23' 'Student12' 'Student19'
 'Student11' 'Student22' 'Student27' 'Student16' 'Student0' 'Student3']